body {
  font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.preloader h1 {
  font-size: 5rem;
  color: black;
  opacity: 1;
  transition: opacity 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader img {
  width: 150px;
  height: 150px;
  opacity: 1;
  transition: opacity 1s ease-out;
  margin-right: 10px;
}

.fade-out {
  opacity: 0;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-header .left {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
}

.fixed-header .left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.fixed-header .left h1 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.fixed-header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-right: 30px;
}

.fixed-header .right a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.fixed-header .right a:hover {
  color: #007bff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 120px 20px 20px;
}

.cards {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 240px;
  height: 90px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 3rem 5rem rgba(132, 139, 200, 0.2);
  transition: box-shadow 0.3s ease;
}

.cards:hover {
  box-shadow: none;
}

.cards p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}

.cards img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.details {
  margin-top: 5px;
}

.details p {
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details span {
  background-color: #007bff;
  color: #fff;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 5px;
}

.small-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .cards {
    width: calc(50% - 20px);
  }

  .preloader h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

@media (max-width: 480px) {
  .container {
    padding-top: 80px;
  }

  .cards {
    width: 100%;
    height: auto;
  }

  .cards p {
    font-size: 14px;
  }

  .cards img {
    width: 40px;
    height: 40px;
  }

  .details p {
    font-size: 12px;
  }

  .details span {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
  }

  .preloader h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
  }
}
