body {
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f9;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(132, 139, 200, 0.2);
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: none;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 2rem;
}

main {
    text-align: center;
}

.input {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #555;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 200px;
    font-size: 16px;
    border-radius: 25px;
    box-sizing: border-box;
}

button {
    padding: 8px 20px;
    font-size: 15px;
    background-color: #1a4bfc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0e3cbf;
}

#passwordDisplay {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .container {
      width: 90%;
    }
  
    button {
      font-size: 14px;
      padding: 12px 24px;
    }
  
    #passwordDisplay {
      font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      margin: 20px;
      padding: 10px;
    }
  
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    #passwordDisplay {
      font-size: 16px;
    }
  }